# Dependency directories
node_modules
jspm_packages
bower_components

# Optional npm cache directory
.npm
# ignores all .js in subdirectories recursive from the current 
# folder (does not include the current folder)
**/*.js
**/*.js.map